@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

html {
  font-family: Righteous, cursive;
}

body {
  background: linear-gradient(to right, #b2fefa, #0ed2f7);
  padding: 40px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.main-title,
.message-title {
  text-shadow: 2px 2px 0 #e49708,
    2px -2px 0 #e49708,
    -2px 2px 0 #e49708,
    -2px -2px 0 #e49708,
    2px 0 0 #e49708,
    0 2px 0 #e49708,
    -2px 0 0 #e49708,
    0 -2px 0 #e49708;
  color: white;
  letter-spacing: 4px;
}

.load-btn {
  margin-top: 20px;
  background-color: #e49708;
  color: white;
  font-family: Righteous, cursive;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 8px;

  &:hover {
    background-color: blue;
  }
}

.table-wrapper {
  width: 60%;
  padding: 20px;
  background-color: #fff;
}

.table-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin: 1em 0;
  border: 1px solid #22242626;
  border-radius: 0.3rem;
  border-collapse: separate;
  border-spacing: 0;

  &__header {
    border-left: 1px solid #2224261a;
    cursor: pointer;
    font-weight: 700;
    text-transform: none;
    background: #f9fafb;
    padding: 0.9em 0.8em;

    &:hover {
      background: hsla(0, 0%, 50%, 0.1);
    }

    &:first-of-type {
      border-left: none;
    }
  }

  &__cell {
    padding: 0.8em;
    border-left: 1px solid #2224261a;
    border-top: 1px solid #2224261a;

    &:first-of-type {
      border-left: none;
    }
  }
}

.pagination {
  &__button {
    padding: 0.85em 1.1em;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background-color: white;

    &--control,
    &--active {
      font-weight: 600;
    }

    &--active {
      border-color: #1b1c1d;
    }
  }
}
